/* Reset de estilos globais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

/* Fontes */
header,
section h2,
section h3,
form button,
body, 
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

header,
section h2,
section h3,
form button {
    font-family: 'Gluten', cursive;
}

/* Estilos para o cabeçalho */
header {
    padding: 16px 0;
    background-color: #23252b;
    color: #f47521;
}

header h1 {
    font-family: 'Gluten', cursive;
    font-weight: bold;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #f47521;
    text-decoration: none;
}

/* Estilos para o container */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* Estilos específicos para o cabeçalho no container */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.konosuba-content {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
    background-color: black;
}

.konosuba-content h1,
p {
    color: #fff;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding-left: 70px;
    padding-top: 20px;
}

.text-content {
    float: left;
    width: 60%;
}

.video-container {
    float: left;
    width: 40%;
    padding: 15px;
}

.video-container a {
    text-decoration: none;
}

.video-container button {
    width: 82%;
    padding: 10px;
    background-color: #f47521;
    color: #fff;
    border: none;
    cursor: pointer;
}

.video-container button:hover {
    background-color: #f96400;
}

/* Estilos para a section */
section {
    height: 100%;
    padding: 30px;
    text-align: justify;
    background-color: black;
}

section p {
    padding: 30px;
    width: 65%;
    margin: 0 auto;
    color: rgb(8, 8, 8);
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Estilos para a lista de temporadas */
.seasons-list {
    /* list-style: none;
    padding: 30px;
    margin: 0 auto; Centraliza a lista na página */
}

.seasons-list img {
    height: 150px;
}

.seasons-list li {
    display: inline-block;
    margin-right: 10px;
}

/* Estilos para a área de conteúdo principal */
.content-wrap {
    height: 100vh;
    line-height: 1.8em;
    width: 100%;
    background-color: #fff;
    background-size: 100%;
    position: relative;
    background-image: url(/imagens/bg-body.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.content-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(rgba(19, 17, 17, 0.208) 1px, transparent 1px),
        linear-gradient(90deg, rgba(19, 17, 17, 0.208)1px, transparent 1px);
    background-size: 9px 9px;
}

.content-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imagens/wrap_visual2.png);
    background-size: cover;
    background-position: center;
}

.social-links img {
    height: 50px;
}

.social-links li {
    display: inline;
    margin-right: 20px;
}

.Official li a {
    font-weight: bold;
}

.Official li a img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.Official li a:hover {
    text-decoration: none;
}

#comments {
    background-image: url(/imagens/bg_footer.jpeg);
}

.reaction {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}

.reaction H2,
H3 {
    padding: 5px;
}

#comment .reaction {
    display: block;
}

.comments-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
button {
    display: block;
    width: 100%; 
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #23252b;
    color: #f47521;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #000000;
}

input:focus, textarea:focus {
    outline-color: #f47521;
}

#footer {
    background-color: #f47521;
    color: #23252b;
    padding: 16px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Estilos para a section */
#manga,
#anime,
#filme,
#extra {
    background-color: #000000;
    padding: 20px;
}

/* Estilos para a classe .manga-body */
.manga-body,
.anime-body,
.filme-body ,
.extra-body  {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

.manga-body h1,
.anime-body h1,
.filme-body h1,
.extra-body h1 {
    font-size: 20px;
    border: 1px solid #f47521;
    padding: 5px;
    text-align: center;
    color: #f47521;
    width: 150px;
    margin: 0 auto 0 7%;
}

.manga-body iframe,
.anime-body iframe,
.filme-body iframe,
.extra-body iframe {
    display: block;
    margin: 10px auto 0 7%;
}

/* estilos para o botão */

#btnVoltarAoTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 3px solid #f47521;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: #f4752107;
}

#btnVoltarAoTopo::before {
    color: #f96400;
    content: '\2191';
    font-size: 20px;
    display: block;
    margin-top: 50%;
    transform: translateY(-50%);
}

#btnVoltarAoTopo:hover {
    border-color: #f96400;
}

/* Media queries para tornar o site responsivo (retirar - não está bom) */

@media screen and (max-width: 768px) {
    .text-content {
        width: 100%; /* Altera a largura para ocupar 100% nas telas menores */
    }

    .video-container {
        width: 100%; /* ... telas menores */
    }

    form input,
    form textarea,
    button {
        width: 100%; /* ... telas menores */
    }
}
